html,body{
  margin: 0; padding: 0;
  height: 100%; width: 100%;
  cursor: default;
}
*{
  box-sizing: border-box;
}

/*  ===============================================================  */
#controles{
  height: 100%; width:100%;
  position: relative;
  padding: 20px;
}

.joystick{
  border: 1px solid #999;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  position: relative;
  cursor: default;
}
.joystick .circulo{
  border: 1px solid #999;
  border-radius: 50%;
  background: #aaa;
  height: 80px;
  width: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%,-50%,0);
  cursor: default;
}
.joystick .central{
  border: 1px dashed #666;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%,-50%,0);
  cursor: default;
}


